{% extends 'base.html' %}

{% block title %}
  <title>Home | Todo list</title>
{% endblock %}

{% block content %}
  <h1 class="w3-container">
    <b>Todo List</b>
    <span>
      <a
        class="w3-right w3-padding w3-blue"
        style="text-decoration: none"
        href="{% url 'todo_list:task-create' %}"
      >
        Add task
      </a>
    </span>

  </h1>

  <div class="w3-container">
    {% for task in tasks %}
      <div>
        <h3>
          <b>{{ task.name }}</b>
          {% if task.is_done %}
            <span>
              <a
                  class="w3-right w3-padding w3-grey"
                  href="{% url 'todo_list:change-status' pk=task.id%}"
                  style="text-decoration: none"
              >
              Undo
              </a>
            </span>
          {% else %}
            <span>
              <a
                  class="w3-right w3-padding w3-green"
                  href="{% url 'todo_list:change-status' pk=task.id%}"
                  style="text-decoration: none"
              >
              Complete
              </a>
            </span>
          {% endif %}

          {% if task.is_done %}
            <span class="w3-text-green w3-right w3-padding">Done</span>
          {% else %}
            <span class="w3-text-red w3-right w3-padding">Not done</span>
          {% endif %}
        </h3>
      </div>
      <div>
        <p>{{ task.created_at }}</p>
      </div>
      <div>
        <p class="w3-text-grey">
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a
              href=""
              style="text-decoration: none"
              class="w3-text-blue"
          >
            Update
          </a>
          <a
              href=""
              style="text-decoration: none"
              class="w3-text-blue"
          >
            Delete
          </a>
        </p>
      </div>

    {% endfor %}

  </div>
{% endblock %}