{% extends 'base.html' %}

{% block title %}
  <title>Home | Todo list</title>
{% endblock %}

{% block content %}
  <h1 class="w3-container">
    <b>Todo List</b>
    <span>
      <a
        class="w3-right w3-padding w3-blue w3-round-xxlarge"
        href="{% url 'todo_list:task-create' %}"
      >
        Add task
      </a>
    </span>

  </h1>

  <div class="w3-container">
    {% for task in tasks %}
      <div>
        <h3>
          <b>{{ task.name }}</b>
          {% if task.is_done %}
            <span>
              <a
                  class="w3-right w3-padding w3-grey w3-round-xxlarge"
                  href="{% url 'todo_list:change-status' pk=task.id%}"
              >
              Undo
              </a>
            </span>
          {% else %}
            <span>
              <a
                  class="w3-right w3-padding w3-green w3-round-xxlarge"
                  href="{% url 'todo_list:change-status' pk=task.id%}"
              >
              Complete
              </a>
            </span>
          {% endif %}

          {% if task.is_done %}
            <span class="w3-text-green w3-right w3-padding">Done</span>
          {% else %}
            <span class="w3-text-red w3-right w3-padding">Not done</span>
          {% endif %}
        </h3>
      </div>
      <div>
        <p>Created: {{ task.created_at }}</p>
      </div>
      {% if task.deadline %}
        <div>
          <p class="w3-text-red">Deadline: {{ task.deadline }}</p>
        </div>
      {% endif %}

      <div>
        <p class="w3-text-grey">
          Tags:
          {% if not task.tags %}
            -
          {% endif %}
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}
          <a
              href="{% url 'todo_list:task-update' pk=task.id %}"
              class="w3-text-blue"
          >
            Update
          </a>
          <a
              href="{% url 'todo_list:task-delete' pk=task.id %}"
              class="w3-text-blue"
          >
            Delete
          </a>
        </p>
      </div>

      <hr>

    {% endfor %}

  </div>
{% endblock %}